* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  width: 95%;
}

.hero {
  height: 100vh;
  width: 105.3%;
  background-image: url("../static/images/office4.jpg");
  /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../static/images/office4.jpg");  */
  background-size: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d5caeb;
  z-index: 1;
  border-radius: 30px;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 10px 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 100px;
}

nav .option {
  width: 100%;
  float: left;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-left: 15px;
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: rgb(23, 23, 69);
  font-weight: 400;
  font-size: 22px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

a.active {
  text-decoration: 1px underline;
}

a:hover {
  color: rgb(23, 23, 69);
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: rgb(23, 23, 69);
  padding: 14px 0;
  background-color: inherit;
  font-family: inherit;
  margin: 17px;
}

.navbar a:hover {
  color: rgb(23, 23, 69);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: rgb(23, 23, 69);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  padding-left: 20px;
  color: rgb(23, 23, 69);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner {
  display: inline;
  justify-content: center;
  text-align: center;
  margin-bottom: 200px;
  margin-right: 50px;
}

.banner-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: whitesmoke;
}

.banner-text h2 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "century" "gothic" sans-serif;
  font-style: bold;
  margin-left: 30px;
}

.text-wrapper .box {
  display: flex;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  width: 100px;
  font-family: "century" "gothic" sans-serif;
  color: #fff;
  text-align: center;
  justify-content: center;
  margin-right: 55%;
  margin-top: 0%;
}

.banner-animation1 {
  animation: ani1 15s infinite;
}

.banner-animation2 {
  animation: ani2 15s infinite;
}

.banner-animation3 {
  animation: ani3 15s infinite;
}

.banner-animation4 {
  animation: ani4 15s infinite;
}

.banner-animation5 {
  animation: ani5 15s infinite;
}

.banner-animation6 {
  animation: ani6 15s infinite;
}

@keyframes animation1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes animation2 {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes animation3 {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@keyframes animation4 {
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@keyframes animation5 {
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animation6 {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}

.content {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.content h1 {
  margin-top: 40px;
  font-size: 45px;
  font-family: cursive !important;
  color: rgb(0, 0, 100);
  font-family: sans-serif;
}

.content h2 {
  margin-top: 12px;
  font-size: 60px;
  font-family: cursive;
  color: rgb(14, 210, 144);
}

.content h3 {
  margin-top: 12px;
  font-family: cursive;
  font-size: 30px;
}

.content p {
  font-size: 18px;
  font-family: cursive;
  margin-top: 12px;
}

.image-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card1 {
  display: flex;
  height: 480px;
  margin: 20px;
  box-shadow: 5px 10px 10px rgb(122, 121, 121);
  overflow: hidden;
}

.card1 img:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: gray;
}

.card1 img {
  display: flex;
  height: 480px;
  width: 350px;
  position: absolute;
  z-index: 0;
}

.card1:hover {
  cursor: pointer;
}

.card1:hover .intro {
  height: 480px;
  background: linear-gradient(
    365deg,
    rgb(20, 106, 78) 25%,
    rgba(0, 0, 0, 0) 85%
  );
}

.card1:hover .intro p {
  opacity: 1;
  visibility: visible;
}

.card2 {
  display: flex;
  height: 480px;
  margin: 20px;
  box-shadow: 5px 10px 10px rgb(122, 121, 121);
  overflow: hidden;
}

.card2 img:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: gray;
}

.card2 img {
  display: flex;
  height: 480px;
  width: 350px;
  position: absolute;
  z-index: 0;
}

.card2:hover {
  cursor: pointer;
}

.card2:hover .intro {
  height: 480px;
  background: linear-gradient(
    365deg,
    rgb(20, 106, 78) 25%,
    rgba(0, 0, 0, 0) 85%
  );
}

.card2:hover .intro p {
  opacity: 1;
  visibility: visible;
}

.card3 {
  display: flex;
  height: 480px;
  margin: 20px;
  box-shadow: 5px 10px 10px rgb(122, 121, 121);
  overflow: hidden;
}

.card3 img:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: gray;
}

.card3 img {
  display: flex;
  height: 480px;
  width: 350px;
  position: absolute;
  z-index: 0;
}

.card3:hover {
  cursor: pointer;
}

.card3:hover .intro {
  height: 480px;
  background: linear-gradient(
    365deg,
    rgb(20, 106, 78) 25%,
    rgba(0, 0, 0, 0) 85%
  );
}

.card3:hover .intro p {
  opacity: 1;
  visibility: visible;
}

.image-class {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.intro {
  height: 480px;
  width: 350px;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
  color: white;
  bottom: 30px;
  border-radius: 10px;
  z-index: 1;
  margin-top: 60%;
}

.intro h1 {
  margin: 10px;
  margin-top: 80px;
  font-size: 40px;
  color: #fff;
}

.intro p {
  font-size: 20px;
  margin-left: 20px;
  visibility: hidden;
  opacity: 0;
}

#statistics {
  display: flex;
  width: 100%;
  height: 600px;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  color: #fff;
  background-image: linear-gradient(
    20deg,
    rgba(144, 238, 144, 1) 0%,
    rgb(255, 255, 255) 20%
  );
  margin-left: 2.5%;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#statistics:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
}

#statistics #Heading {
  border-right: 2px solid rgb(144, 210, 144);
  width: 41%;
}

#statistics #Heading h6 {
  font-size: 22px;
  font-family: cursive;
  margin-top: 15px;
  color: rgb(0, 0, 100);
}

#statistics #Heading h2 {
  font-size: 27px;
  font-family: cursive !important;
  color: black;
}

#statistics #Heading .btn button {
  margin-top: 10px;
  box-shadow: 8px 8px 15px #97d2ac;
  border: none;
  font-family: cursive;
  border-radius: 20px;
}

#statistics #Heading .btn button a {
  font-size: 22px;
  color: black;
  padding: 10px 10px;
}

#statistics #Heading .btn button a:hover {
}

#statistics .in {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 25px;
  font-size: 22px;
  margin-right: 10px;
  color: black;
}

#statistics .in h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

#statistics .in p {
  font-size: 22px;
}

#slider-section {
  min-height: 85vh;
  width: 100%;
  background: #fff;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5%;
}

.slide-track-1 img {
  width: 100px;
  height: 80px;
  animation: scroll 30s linear infinite;
}

.slide-track-2 img {
  width: 100px;
  height: 80px;
  animation: scroll-rev 20s linear infinite;
}

.slide-track-1,
.slide-track-2 {
  width: 100%;
  display: flex;
  gap: 1em;
  overflow: hidden;
  margin: 10px 0;
}

.slider {
  margin-top: 60px;
  /* background-image: linear-gradient(355deg, rgb(0, 106, 78) 0%,rgb(255, 255, 255) 20%);   */
  background-image: linear-gradient(
    20deg,
    rgba(144, 238, 144, 1) 0%,
    rgb(255, 255, 255) 20%
  );
  padding: 0em 0em;
  width: 90%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: LEFT;
  text-align: left;
  flex-direction: row;
}

.slider:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
}

.slider-logo {
  margin-top: 10px;
  background-color: transparent;
  padding: 7em 2em;
  width: 55%;
  margin-right: 20px;
  gap: 4em;
}

.slider-content {
  height: 200px;
  background-color: transparent;
  padding: em 2em;
  width: 40%;
  margin-left: 20px;
}

.slider .slider-content h2 {
  font-family: cursive;
  font-size: 30px;
  margin-top: 10px;
  /* color: rgb(124,210,124); */
  margin-left: 25px;
}

.slider .slider-content h6 {
  font-family: cursive;
  font-size: 16px;
  color: rgb(0, 0, 100);
  margin-left: 25px;
}

.slider .slider-content p {
  font-size: 20px;
  text-align: left;
  font-family: cursive;
  color: black;
  margin-top: 10px;
  margin-left: 25px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1000%);
  }
}

@keyframes scroll-rev {
  0% {
    transform: translateX(-1000%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Media Queries for smaller screens */
@media (max-width: 1024px) {
  .slider {
    flex-direction: column;
    height: auto;
  }

  .slider-logo,
  .slider-content {
    width: 100%;
    padding: 4em 2em;
    margin-left: 0;
    text-align: center;
  }

  .slider .slider-content h2 {
    font-size: 24px;
  }

  .slider .slider-content p {
    font-size: 16px;
    text-align: center;
  }

  #page4-1 {
    flex-direction: column;
    height: 420px;
  }
  #statistics #Heading .in {
    width: 100%;
  }
  #statistics #Heading {
    border-right: 0;
  }
}

@media (max-width: 780px) {
  .slide-track-1 img,
  .slide-track-2 img {
    width: 90px;
    height: 70px;
  }

  .slider .slider-content h2 {
    font-size: 20px;
  }

  .slider .slider-content p {
    font-size: 14px;
  }

  .option a {
    font-size: 16px;
  }

  .banner-text h2 {
    font-size: 1.5rem;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .card img {
    width: 100%;
  }
  #statistics {
    flex-direction: column;
    height: 520px;
  }
  #statistics #Heading .in {
    width: 100%;
  }

  #statistics #Heading {
    border-right: 0;
    flex-direction: row;
  }

  #statistics .in h2 {
    font-size: 33px;
  }
  #statistics .in p {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .option a {
    margin-bottom: 0.5rem;
  }

  .banner {
    height: 60vh;
  }

  .banner-text h2 {
    font-size: 1.2rem;
  }

  .slide-track-1 img,
  .slide-track-2 img {
    width: 60px;
    height: 50px;
  }

  .slider .slider-content h2 {
    font-size: 18px;
  }

  .slider .slider-content p {
    font-size: 12px;
  }

  .slide-track-1,
  .slide-track-2 {
    gap: 2em;
  }

  #statistics {
    flex-direction: column;
    height: 810px;
  }
  #statistics #Heading .in {
    width: 100%;
  }
  #statistics .in {
    flex-direction: column;
  }
  #statistics #Heading {
    border-right: 0;
    flex-direction: row;
  }
}

hr {
  color: rgba(144, 238, 144, 1);
  border-top: 1px solid;
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
}

#group {
  display: flex;
  background-image: linear-gradient(
    20deg,
    rgba(144, 238, 144, 1) 0%,
    rgb(255, 255, 255) 20%
  );
  height: 570px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  background-color: #fff;
  margin-left: 5%;
  margin-top: 60px;
}

#group:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
}

.trapezoid {
  border-bottom: 405px solid transparent;
  border-left: 0px solid transparent;
  border-right: 45px solid transparent;
  height: 400px;
  width: 370px;
  position: absolute;
  z-index: 1;
  align-items: center;
  margin-right: 120vh;
  margin-top: 20vh;
  text-align: center;
}

.trapezoid h5 {
  margin-left: 15px;
  font-family: cursive;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(0, 0, 100);
  margin-top: 15px;
}

.trapezoid h3 {
  margin-top: 30px;
  font-size: 23px;
  font-family: cursive;
  /* color: rgb(124,210,124); */
}

#group .square {
  width: 850px;
  margin-left: 360px;
  margin-bottom: 120px;
}

#group .square img {
  border-bottom-right-radius: 20px;
  height: 405px;
}

.linking {
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.link {
  border-style: groove;
  border-top-width: 10px;
  border-left-width: 10px;
  border-right-width: 20px;
  border-bottom-width: 10px;
  border-radius: 25px;
  block-size: 50px;
  margin-left: -25px;
  padding-left: 8px;
  font-size: 18px;
  background-color: rgba(144, 238, 144, 1);
  border-color: transparent;
  color: black;
}

.link a {
  font-size: 10px;
}

.link a:hover {
  background-color: rgba(90, 238, 90, 1);
}

.link1 {
  border-style: groove;
  border-top-width: 10px;
  border-left-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 10px;
  border-radius: 25px;
  block-size: 50px;
  font-size: 18px;
  border-color: transparent;
  background-color: rgba(144, 238, 144, 1);
  color: black;
}

#founders {
  display: flex;
  width: 90%;
  height: 600px;
  /* background-image: linear-gradient(340deg,  rgba(144, 238, 144, 1) 0%, rgb(255, 255, 255) 20%);  */
  margin-left: 5%;
  margin-top: 60px;
}

#founders:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
}

#founders .teamcontainer {
  border-left: 45px solid transparent;
  border-right: 0px solid transparent;
  height: 500px;
  width: 540px;
}

#founders .teamcontainer h6 {
  text-align: center;
  margin-top: 150px;
  font-family: cursive;
  font-size: 20px;
  color: #031152;
}

#founders .teamcontainer h2 {
  text-align: center;
  margin-top: 40px;
  font-family: cursive;
  /* color: rgb(124,210,124); */
  font-size: 35px;
}

#founders .team {
  width: 600px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#founders .team .one {
  width: 240px;
  height: 330px;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 10px;
}

#founders .team .one h2 {
  text-align: center;
  margin-top: 10px;
  font-family: cursive;
  font-size: 20px;
}

#founders .team .one h3 {
  text-align: center;
  color: grey;
  font-family: cursive;
  font-size: 18px;
}

#founders .team .two {
  width: 240px;
  height: 330px;
  background-color: #fff;
  margin-top: 30px;
  margin-right: 60px;
  border-radius: 10px;
}

#founders .team .two h2 {
  text-align: center;
  margin-top: 10px;
  font-family: cursive;
  font-size: 20px;
}

#founders .team .two h3 {
  text-align: center;
  color: grey;
  font-family: cursive;
  font-size: 18px;
}

#founders .team img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#facilities {
  display: flex;
  width: 90%;
  background-image: linear-gradient(
    340deg,
    rgba(144, 238, 144, 1) 0%,
    rgb(255, 255, 255) 20%
  );
  margin-left: 5%;
  justify-content: center;
  margin-top: 80px;
  height: 550px;
}

#facilities:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
}

#facilities .pagetext {
  height: 350px;
  border-bottom: 390px solid #f4f6fc;
  border-left: 0px solid transparent;
  border-right: 45px solid transparent;
  width: 40%;
  position: absolute;
  z-index: 1;
  margin-right: 620px;
}

#facilities .pagetext h6 {
  text-align: center;
  color: rgb(0, 0, 100);
  margin-top: 70px;
  font-size: 20px;
  font-family: cursive;
}

#facilities .pagetext h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 33px;
  font-family: cursive;
  /* color: rgb(124,210,124); */
}

#facilities .pagecontent {
  width: 60%;
  height: 390px;
  background-color: transparent;
  margin-left: 490px;
  justify-content: center;
  align-items: center;
}

#facilities .pagecontent .page1 {
  width: 300px;
  background-color: transparent;
  height: 130px;
  margin-left: 190px;
  margin-top: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#facilities .pagecontent .page1 h3 {
  font-size: 22px;
  font-family: sans-serif;
  margin-top: 5px;
}

#facilities .pagecontent .page1 h4 {
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 10px;
}

#facilities .pagecontent .mainpage {
  display: flex;
}

#facilities .pagecontent .page2 {
  width: 270px;
  background-color: transparent;
  height: 130px;
  text-align: center;
  margin-top: 20px;
  margin-left: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#facilities .pagecontent .page2 h3 {
  font-size: 22px;
  font-family: sans-serif;
  margin-top: 5px;
}

#facilities .pagecontent .page2 h4 {
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 10px;
}

#facilities .pagecontent .page3 {
  width: 270px;
  background-color: transparent;
  height: 130px;
  text-align: center;
  margin-left: 15px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#facilities .pagecontent .page3 h3 {
  font-size: 22px;
  font-family: sans-serif;
  margin-top: 5px;
}

#facilities .pagecontent .page3 h4 {
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 10px;
}

#testimonial {
  display: block;
  width: 90%;
  margin-top: 12vh;
  height: 650px;
  padding-top: 8vh;
  margin-left: 10vh;
}

#testimonial:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
}

.testimonial-item {
  background-color: rgb(144, 210, 144);
  border-radius: 10px;
  padding: 20px;
  height: 350px;
}

.testimonial-item:hover {
  background-color: rgb(84, 210, 84);
  /* background-color: rgb(14, 210, 144); */
}

.testimonial-text {
  background-color: #fff;
  border-radius: 10px;
  height: 320px;
  padding: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-carousel {
  height: 400px;
}
.testimonial-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}

.testimonial-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  background-color: #808080;
  border-radius: 50%;
  cursor: pointer;
}

.testimonial-carousel .owl-dot.active {
  background-color: #000;
}

#testimonial .testimonial-container {
  width: 100%;
  height: 500px;
  padding: 0 15px;
  margin: 0 auto;
}

#testimonial .testimonial-container h4 {
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 100);
}

.testimonial-text h3 {
  text-align: center;
  font-size: 24px;
  color: rgb(14, 210, 144);
  margin-top: 12px;
}

.testimonial-text h5 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

#testimonial .testimonial-container h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#service {
  display: block;
  width: 90%;
  margin-top: 12vh;
  height: 750px;
  padding-top: 8vh;
  margin-left: 10vh;
}

#service:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
}

#service .service-container {
  width: 100%;
  height: 500px;
  padding: 0 15px;
  margin: 0 auto;
}

#service .service-container h1 {
  text-align: center;
  /* color: rgb(124,210,124); */
}

#service .cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

#service .cardos {
  display: flex;
  /* flex-direction: row;
  width:33%; */
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

#service .cardos:not(:last-child) {
  margin-right: 10px;
}

#service .cardos:hover {
  color: #ffffff;
  background: rgb(144, 210, 144);
}

#service .cardos .card-title {
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 100);
}

#service .cardos .card-content {
  margin: 20px 0;
  max-width: 100%;
  position: relative;
  text-align: center;
  color: rgb(144, 250, 144);
}

#service .centered {
  position: absolute;
  top: 90%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 1px;
  padding-right: 8px;
  border-radius: 18px;
  color: white;
  background: radial-gradient(
    788px at 0.7% 3.4%,
    rgb(0, 250, 144) 10%,
    rgb(255, 255, 255) 90%
  );
  display: inline-block;
  transition: background 0.2s;
}

#service .cardos .card-link-wrapper {
  margin-top: auto;
}

#service .cardos .card-link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background: rgb(144, 250, 144);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

#service .cardos:hover .card-link {
  background: rgb(144, 250, 144);
}

#service .cards::-webkit-scrollbar {
  height: 12px;
}

#service .cards::-webkit-scrollbar-thumb,
#service .cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

#service .cards::-webkit-scrollbar-thumb {
  background: rgb(144, 250, 144);
}

#service .cards::-webkit-scrollbar-track {
  background: #edf2f4; /*Thumb */
}

@media (min-width: 500px) {
  .cardos {
    flex-basis: calc(50% - 10px);
  }

  .cardos:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .cardos {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .cardos:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .cardos {
    flex-basis: calc(25% - 30px);
  }

  .cardos:not(:last-child) {
    margin-right: 40px;
  }
}

.but {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 15px;
  margin: 50px 3px;
  border: 2px solid white;
  border-radius: 18px;
  font-size: 10px;
  background-color: rgba(144, 238, 144, 1);
  color: black;
  cursor: pointer;
}

.but:hover {
  color: black;
  background-color: rgba(90, 238, 90, 1);
}

#reviews {
  width: 90%;
  height: 700px;
  background: radial-gradient(
    788px at 0.7% 3.4%,
    rgb(255, 255, 255) 115.2%,
    rgb(144, 238, 144) 190%
  );
  margin-top: 80px;
  margin-left: 5%;
}

#reviews:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
}

#reviews .Outer-One {
  width: 90%;
  height: 550px;
  margin-left: 5%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#reviews .Outer-One img {
  margin-top: 20px;
}

#reviews .Outer-One h6 {
  font-family: cursive;
  font-size: 18px;
  margin-top: 8px;
  color: rgb(0, 0, 100);
}

#reviews .Outer-One h2 {
  margin-top: 10px;
  font-family: cursive;
  font-size: 35px;
  /* color: rgb(124,210,124); */
}

#reviews .Outer-One .textwrapper-new .boxes {
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  margin-left: 16%;
  margin-top: 20px;
  font-family: cursive;
}

#reviews .Outer-One .textwrapper-new .boxes p {
  font-size: 20px;
}

#reviews .Outer-One .textwrapper-new .boxes h4 {
  margin-top: 10px;
  font-family: cursive;
  font-size: 20px;
}

#reviews .Outer-One .textwrapper-new .boxes h6 {
  margin-top: 10px;
  font-family: cursive;
  font-size: 18px;
  color: rgb(24, 24, 24);
}

.x1 {
  animation: ani1 30s infinite;
}

.x2 {
  animation: ani2 30s infinite;
}

.x3 {
  animation: ani3 30s infinite;
}

.x4 {
  animation: ani4 30s infinite;
}

.x5 {
  animation: ani5 30s infinite;
}

@keyframes ani1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes ani2 {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes ani3 {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@keyframes ani4 {
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@keyframes ani5 {
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#reviews .Outer-One .ImageOne {
  display: flex;
}

#reviews .Outer-One .ImageOne .floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-radius: 7rem;
  border-color: #fff;
  display: flexbox;
}

.floating img {
  height: 100px;
  width: 100px;
  border-radius: 7rem;
  box-shadow: 2px 2px 2px 2px black;
}

.floating .im {
  display: flex;
  gap: 50px;
  margin-left: 30px;
}
.floating .image1 {
  margin-left: 120px;
}

.floating .image2 {
  margin-left: 10px;
}

.floating .image3 {
  margin-left: 0px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#reviews .Outer-One .ImageOne .floating-image {
  margin-left: 705px;
  /* margin-left: 665px; */
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-color: #fff;
  display: flexbox;
}

.floating-image img {
  height: 100px;
  width: 100px;
  border-radius: 7rem;
  align-items: left;
  box-shadow: 2px 2px 2px 2px black;
}

.floating-image .im2 {
  display: flex;
  gap: 50px;
  margin-top: 8px;
}

.floating-image .image4 {
  margin-left: 70px;
}

#contact-us {
  width: 90%;
  margin-top: 60px;
  margin-left: 5%;
  height: 750px;
}

#contact-us:hover {
  border: 7px solid rgb(144, 210, 144);
  transition: 0.5s;
}

.container {
  max-width: 90%;
  background: #fff;
  width: 90%;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: 5%;
  /* margin-top: 5%;  */
}

.container .text h4 {
  font-size: 20px;
  font-family: cursive;
  margin-left: 10px;
  color: rgb(43, 41, 41);
}

.container .text h1 {
  font-size: 80px;
  margin-top: 10px;
  color: rgb(14, 210, 144);
}

.container form {
  padding: 30px 0 0 0;
}

.container form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 18px;
  font-family: cursive;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  max-width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  max-width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.submit-btn .input-data {
  overflow: hidden;
  height: 45px !important;
  width: 25% !important;
}

.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: rgb(124, 210, 124);
  transition: all 0.4s;
}

.submit-btn .input-data:hover .inner {
  left: 0;
  background: rgb(84, 180, 84);
}

.submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

@media (max-width: 900px) {
  #reviews {
    height: 600px;
  }
  #reviews .Outer-One .textwrapper-new .boxes {
    display: column;
  }
  #reviews .Outer-One .ImageOne {
    display: column;
  }
  .floating .im {
    display: column;
  }
  .floating .im2 {
    display: column;
  }
  .container .text h1 {
    font-size: 60px;
  }
  .container .text h4 {
    font-size: 15px;
  }
  .submit-btn .input-data {
    width: 38% !important;
  }
}

@media (max-width: 700px) {
  #reviews {
    height: 700px;
  }
  #reviews .Outer-One .textwrapper-new .boxes {
    display: column !important;
  }
  #reviews .Outer-One .ImageOne {
    display: column !important;
  }
  .floating .im {
    display: column !important;
  }
  .floating .im2 {
    display: column !important;
  }
  #contact-us {
    height: 840px;
  }
  .container .text h1 {
    font-size: 40px;
  }
  .container .text h4 {
    font-size: 12px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 60% !important;
  }
}

@media (max-width: 500px) {
  .container .text h1 {
    font-size: 28px;
  }
  .container .text h4 {
    font-size: 7px;
  }
  .submit-btn .input-data {
    width: 72% !important;
  }
}

@media (max-width: 380px) {
  .container .text h1 {
    font-size: 20px;
  }
  .container .text h4 {
    font-size: 5px;
  }
  .submit-btn .input-data {
    width: 88% !important;
  }
}

@media (max-width: 1230px) {
  #facilities {
    height: 400px;
  }
  #facilities .pagetext h6 {
    font-size: 15px;
  }
  #facilities .pagetext h1 {
    font-size: 27px;
  }
  #facilities .pagecontent .page1 {
    width: 230px;
    height: 120px;
    margin-left: 120px;
  }
  #facilities .pagecontent .page1 h3 {
    font-size: 18px;
  }
  #facilities .pagecontent .page1 h4 {
    font-size: 13px;
  }
  #facilities .pagecontent .page2 {
    width: 215px;
    height: 110px;
    margin-left: 15px;
  }
  #facilities .pagecontent .page2 h3 {
    font-size: 18px;
  }
  #facilities .pagecontent .page2 h4 {
    font-size: 13px;
  }
  #facilities .pagecontent .page3 {
    width: 215px;
    height: 110px;
    margin-left: 10px;
  }
  #facilities .pagecontent .page3 h3 {
    font-size: 18px;
  }
  #facilities .pagecontent .page3 h4 {
    font-size: 13px;
  }
  #facilities .pagetext {
    border-bottom: 390px solid #f4f6fc;
  }
}

@media (max-width: 1100px) {
  #facilities {
    height: 400px;
  }
  #facilities .pagetext {
    width: 40%;
  }
  #facilities .pagecontent {
    width: 60%;
  }
  #facilities .pagetext h6 {
    font-size: 15px;
  }
  #facilities .pagetext h1 {
    font-size: 27px;
  }
  #facilities .pagecontent .page1 {
    width: 200px;
    height: 110px;
    margin-left: 110px;
  }
  #facilities .pagecontent .page1 h3 {
    font-size: 16px;
  }
  #facilities .pagecontent .page1 h4 {
    font-size: 11px;
  }
  #facilities .pagecontent .page2 {
    width: 200px;
    height: 100px;
    margin-left: 5px;
  }
  #facilities .pagecontent .page2 h3 {
    font-size: 16px;
  }
  #facilities .pagecontent .page2 h4 {
    font-size: 11px;
  }
  #facilities .pagecontent .page3 {
    width: 200px;
    height: 100px;
    margin-left: 10px;
  }
  #facilities .pagecontent .page3 h3 {
    font-size: 16px;
  }
  #facilities .pagecontent .page3 h4 {
    font-size: 11px;
  }
  #facilities .pagetext {
    border-bottom: 390px solid #f4f6fc;
  }
}

#footer {
  width: 100%;
  height: 550px;
  background-image: linear-gradient(
    0deg,
    rgba(144, 238, 144, 1) 0%,
    rgb(255, 255, 255) 45%
  );
  margin-top: 60px;
  color: black;
}

#footer .rozgaarwala {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  background-color: transparent;
  margin-top: 10px;
}

#footer .rozgaarwala .rozlogo {
  margin-top: 80px;
  margin-left: 82%;
  display: flex;
}

#footer .rozgaarwala .rozlogo a {
  font-size: 16px;
  padding-bottom: 6px;
  padding-right: 10px;
}

#footer .rozgaarwala2 {
  display: flex;
  width: 80%;
  height: 240px;
  background-color: transparent;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 10%;
}

#footer h4 {
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  margin-top: 45px;
}

#footer .rozimage {
  padding-top: 27px;
}

#footer .copyright h4 {
  text-align: center;
  font-size: 20px;
  margin-top: -10px;
  color: rgb(190, 190, 190);
  font-family: cursive;
}

#footer .rozgaarwala2 .rozgardetail1 {
  background-color: transparent;
}

#footer .rozgaarwala2 .rozgardetail1 h5 {
  font-size: 20px;
  font-family: cursive;
}

#footer .rozgaarwala2 .rozgardetail1 p {
  font-size: 16px;
  font-family: cursive;
  margin-top: 15px;
}

#footer .rozgaarwala2 .rozgardetail2 {
  background-color: transparent;
  width: 200px;
  margin-left: 40px;
}

#footer .rozgaarwala2 .rozgardetail2 h5 {
  font-size: 20px;
  font-family: cursive;
}

#footer .rozgaarwala2 .rozgardetail2 p {
  list-style-type: none;
  font-family: cursive;
  font-size: 18px;
  margin-top: 12px;
}
#footer .rozgaarwala2 .rozgardetail3 {
  margin-right: 40px;
}

#footer .rozgaarwala2 .rozgardetail3 h5 {
  font-size: 20px;
  font-family: cursive;
}

#footer .rozgaarwala2 .rozgardetail3 p {
  margin-top: 10px;
  font-family: cursive;
  font-size: 16px;
}

#footer .rozgaarwala2 .rozgardetail3 .btn {
  display: flex;
  margin-top: 20px;
}

#footer .rozgaarwala2 .rozgardetail3 .btn1 input {
  block-size: 40px;
  width: 180px;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  color: grey;
}

#footer .rozgaarwala2 .rozgardetail3 .btn2 button {
  block-size: 40px;
  width: 70px;
  font-size: 16px;
  text-align: center;
  justify-content: center;
}
